.overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 90%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 17%;
    opacity: .5; /* in FireFox */ 
    filter: alpha(opacity=50); /* in IE */
}